@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

body{
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    color: #a3a7b0;
    background-color: #23272c;
}

#content {
    max-width: 1200px;
    margin: auto;
}

hr{
    height: 1px;
    background-color: rgba(255, 255, 255, 0.20);
    border: 0;
    margin: 0 0 6% 0;
}

h3{
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}

p{
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem !important;
    text-align: justify;
}

strong{
    font-family: "Open Sans", sans-serif !important;
    font-weight: 600 !important;
    color: #75baf2 !important;
}